<div class="row">
	<div class="col-md-12">
		<form #f="ngForm" *ngIf="actividadTipo" (ngSubmit)="save(f.value)">
			<div class="form-group col-sm">
				<label for="name">Nombre</label>
				<input
					#nombre="ngModel"
					[(ngModel)]="actividadTipo.nombre"
					name="nombre"
					type="text"
					class="form-control"
					id="nombre"
					required
				/>
				<div
					class="alert alert-danger"
					*ngIf="nombre.touched && nombre.invalid"
				>
				Nombre es requerido
				</div>
			</div>
            <div class="form-group col-sm">
				<label for="name">Descripcion</label>
				<input
					#descripcion="ngModel"
					[(ngModel)]="actividadTipo.descripcion"
					name="descripcion"
					type="text"
					class="form-control"
					id="descripcion"
					required
				/>
			</div>
			
			<div class="form-group col-sm">
				<mat-checkbox [(ngModel)]="actividadTipo.activo" name="activo" id="activo">
					Habilitado?
				</mat-checkbox>
			</div>
			<div class="action-buttons pull-right  mt-2 mb-2">
				<button type="submit" class="btn btn-primary mr-2">Guardar</button>
				<button type="button" class="btn btn-danger  mr-2" (click)="delete()">
					Eliminar
				</button>
				<button type="button" class="btn btn-warning mr-2" (click)="volver()">
					Volver
				</button>
			</div>
		</form>
	</div>
</div>
