<div class="row">
	<div class="col-md-12">
		<h3>Listado de Actividades</h3>
		<mat-form-field>
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar" />
		</mat-form-field>
		<mat-table #table [dataSource]="dataSource" matSort>
			<ng-container matColumnDef="titulo">
				<mat-header-cell *matHeaderCellDef mat-sort-header><b>Titulo</b></mat-header-cell>
				<mat-cell *matCellDef="let element"><a (click)="editActividad(element)">{{ element.titulo }}</a>
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="fecha">
				<mat-header-cell *matHeaderCellDef mat-sort-header><b>Fecha</b></mat-header-cell>
				<mat-cell *matCellDef="let element">{{ element.fecha | date:'dd/MM/yy':'GMT' }}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="tipo">
				<mat-header-cell *matHeaderCellDef mat-sort-header><b>Tipo</b></mat-header-cell>
				<mat-cell *matCellDef="let element">{{ element.actividadTipo?.nombre }}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="quienregistro">
				<mat-header-cell *matHeaderCellDef mat-sort-header><b>Quien Registra?</b></mat-header-cell>
				<mat-cell *matCellDef="let element">{{ element.quienRegistraKey | getDescriptions: 'usuarias' }}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="ubicacion">
				<mat-header-cell *matHeaderCellDef mat-sort-header><b>Ubicacion</b></mat-header-cell>
				<mat-cell *matCellDef="let element">{{ element.ubicacion }}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="descripcion">
				<mat-header-cell *matHeaderCellDef mat-sort-header><b>Descripcion</b></mat-header-cell>
				<mat-cell *matCellDef="let element">{{ element.descripcion }}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="activo">
				<mat-header-cell *matHeaderCellDef mat-sort-header><b>Activo ?</b></mat-header-cell>
				<mat-cell *matCellDef="let element">{{ (element.activo ? 'Si' : 'No') }}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef> </th>
				<td mat-cell *matCellDef="let element">
					<button mat-flat-button-sm class="shrink-2x" [matMenuTriggerFor]="menu">
						<mat-icon>more_vert</mat-icon>
					</button>
					<mat-menu #menu="matMenu">  
						<button mat-menu-item (click)="editActividad(element)">Editar</button>
						<hr>
						<button mat-menu-item (click)="eliminar(element)">Eliminar</button>
					</mat-menu>
				</td>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
		</mat-table>
		
		<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
		</mat-paginator>
	</div>
</div>
<div class="row action-buttons pull-right  mt-2 mb-2" >
	<div class="action-buttons" style="margin-top: 15px;">
		<a (click)="nuevaActividad()" class="btn btn-primary">Nuevo</a>
	</div>
</div>