<div class="row">
	<div class="col-md-12">
		<h3>Listado de Actividades</h3>
		<div class="row">
			<div class="form-group col-sm-12">
				<mat-form-field>
					<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar" />
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<mat-table #table [dataSource]="dataSource" matSort>
					<ng-container matColumnDef="fecha">
						<mat-header-cell *matHeaderCellDef mat-sort-header><b>Fecha</b></mat-header-cell>
						<mat-cell *matCellDef="let element"> <a (click)="editActividad(element)"> {{ element.fecha |
								date:'dd/MM/yy':'GMT' }}</a></mat-cell>
					</ng-container>
					<ng-container matColumnDef="tipo">
						<mat-header-cell *matHeaderCellDef mat-sort-header><b>Tipo</b></mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.tipoNombre }} </mat-cell>
						<!-- <th mat-header-cell *matHeaderCellDef> Tipo </th>
					<td mat-cell *matCellDef="let element"> {{ element.actividadTipo?.nombre }} </td> -->
					</ng-container>

					<ng-container matColumnDef="titulo">
						<mat-header-cell *matHeaderCellDef mat-sort-header><b>Referencia</b></mat-header-cell>
						<mat-cell *matCellDef="let element"> {{ element.titulo }} </mat-cell>
					</ng-container>
					<ng-container matColumnDef="quienregistro">
						<mat-header-cell *matHeaderCellDef mat-sort-header><b>Registra</b></mat-header-cell>
						<mat-cell *matCellDef="let element">{{ element.quienRegistraKey | getDescriptions: 'usuarias' }}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="ubicacion">
						<mat-header-cell *matHeaderCellDef mat-sort-header><b>Ubicacion</b></mat-header-cell>
						<mat-cell *matCellDef="let element">{{ element.ubicacion }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="descripcion">
						<mat-header-cell *matHeaderCellDef mat-sort-header><b>Descripcion</b></mat-header-cell>
						<mat-cell *matCellDef="let element">{{ element.descripcion }}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="activo">
						<mat-header-cell class="w-100" *matHeaderCellDef mat-sort-header><b>Activo ?</b>
						</mat-header-cell>
						<mat-cell class="w-100" *matCellDef="let element">{{ (element.activo ? 'Si' : 'No') }}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="id">
						<th mat-header-cell *matHeaderCellDef> </th>
						<td mat-cell *matCellDef="let element">
							<button mat-flat-button-sm class="shrink-2x" [matMenuTriggerFor]="menu">
								<mat-icon>more_vert</mat-icon>
							</button>
							<mat-menu #menu="matMenu">
								<button mat-menu-item (click)="editActividad(element)">Editar</button>
								<hr>
								<button mat-menu-item (click)="eliminar(element)">Eliminar</button>
							</mat-menu>
						</td>
					</ng-container>
					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
				</mat-table>

				<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[20, 30, 40]"
					[showFirstLastButtons]="true">
				</mat-paginator>
			</div>
		</div>
	</div>
</div>
<div class="row action-buttons pull-right mt-2 mb-2" style="margin-top: 15px;">
	<a (click)="nuevaActividad()" class="btn btn-primary">Nueva Actividad</a>
</div>