.shrink-2x {
	transform: scale(.5);
  }
  mat-header-cell, mat-cell, mat-checkbox{
    justify-content: flex-start;
    flex: 0 0 250px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    align-items: center;
    //text-align: left !important;
  }

  td.mat-cell{
    border-bottom-width: 0px !important;
    border-bottom-style: none !important;
  }
  mat-cell > a{
    color: #007bff !important;
  }
  /* offsets the header by the same amount of size/padding the sort button occupies */
  .mat-sort-header-container {
    margin-left: 18px;
  }
  .mat-row .mat-header-row {
    border-bottom-width: 0px;
  }
  
mat-table {
    overflow-x: auto;
    width: 100% !important;
  }
  a:hover {
    cursor:pointer;
   }

.w-100{
    width: 100px !important;
}
.w-150{
  width: 150px !important;
}

.th-center{
  text-align: center;
}
.th-left{
  text-align: left !important;
}
.th-right{
  text-align: right;
}

mat-form-field{
  width: 100%;
}