<div class="row">
	<div class="col-md-12">
		<form #f="ngForm" *ngIf="actividad" (ngSubmit)="guardar(f.value)">
			<div class="form-group col-sm">
				<label for="name">Titulo</label>
				<input
					#titulo="ngModel"
					[(ngModel)]="actividad.titulo"
					name="nombre"
					type="text"
					class="form-control"
					id="nombre"
					required
				/>
				<div
					class="alert alert-danger"
					*ngIf="titulo.touched && titulo.invalid"
				>
				Nombre es requerido
				</div>
			</div>
			<div class="form-group col-sm">
				<label for="tipoActividad">Tipo Actividad</label>
				<select #estado="ngModel" [(ngModel)]="actividad.actividadTipoKey" name="actividadTipoKey" id="actividadTipoKey"
					class="form-control" (change)="tipoChange($event)" required>
					<option *ngFor="let c of tipos" [value]="c.key">{{ c.nombre }}</option>
				</select>
			</div>
			<div class="form-group col-md-12">
				<label for="drivers">Participantes</label>
				<mat-select #drivers="ngModel" [(ngModel)]="actividad.participantesKey" name="participantesKey" id="participantesKey"
					class="form-control" [multiple]="true">
					<mat-option *ngFor="let c of participantes" [value]="c.key">{{ c.email }}</mat-option>
				</mat-select>
			</div>
			<div class="form-group col-sm">
				<label for="name">Ubicacion</label>
				<input
					#ubicacion="ngModel"
					[(ngModel)]="actividad.ubicacion"
					name="ubicacion"
					type="text"
					class="form-control"
					id="ubicacion"
				/>
			</div>
			<div class="form-group col-sm">
				<mat-form-field appearance="fill">
					<mat-label>Fecha</mat-label>
					<input matInput [matDatepicker]="picker" name="fecha" [(ngModel)]="fecha">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				  </mat-form-field>
			</div>
			<!-- <div class="form-group col-md-12">
				<section fxLayout="column" fxLayoutAlign="start stretch">
					<mat-form-field fxFlex>
					  <textarea matInput
								matTextareaAutosize
								[matAutosizeMinRows]="5"
								[matAutosizeMaxRows]="20"></textarea>
					</mat-form-field>
				  </section>
			</div> -->
			

            <div class="form-group col-md-12">
				<mat-form-field >
					<textarea matInput  style="height: 150px;"
						name="descripcion"
						[(ngModel)]="actividad.descripcion"
						placeholder="Descripcion" 
						resizeToFitContent
						cdkAutosizeMinRows="15"
						cdkAutosizeMaxRows="15">
					</textarea>
				  </mat-form-field> 
			</div>
			<div class="form-group col-sm">
				<mat-checkbox [(ngModel)]="actividad.activo" name="activo" id="activo">
					Habilitado?
				</mat-checkbox>
			</div>
			<div class="action-buttons pull-right  mt-2 mb-2">
				<button type="submit" class="btn btn-primary mr-2">Guardar</button>
				<!-- <button type="button" class="btn btn-danger  mr-2" (click)="delete()">
					Eliminar
				</button> -->
				<button type="button" class="btn btn-warning mr-2" (click)="cerrarDialog()">
					Cancelar
				</button>
			</div>
		</form>
	</div>
</div>
