<div class="row">
	<div class="col-md-12">
		<form #f="ngForm" *ngIf="actividad" (ngSubmit)="guardar(f.value)">
			<div class="form-group col-sm">
				<label for="tipoActividad">Tipo Actividad</label>
				<select [(ngModel)]="actividad.actividadTipoKey" name="actividadTipoKey"
					id="actividadTipoKey" class="form-control" (change)="tipoChange($event)" required>
					<option *ngFor="let c of tipos" [value]="c.key">{{ c.nombre }}</option>
				</select>
			</div>
			<div class="form-group col-sm">
				<label for="nombre">Titulo</label>
				<input #titulo="ngModel" [(ngModel)]="actividad.titulo" name="nombre" type="text" class="form-control"
					id="nombre" placeholder="Titulo" required />
				<div class="alert alert-danger" *ngIf="titulo.touched && titulo.invalid">
					Titulo es requerido
				</div>
			</div>
			<div class="form-group col-md-12">
				<label for="participantes">Participantes</label>
				<input [(ngModel)]="actividad.participantes" name="participantes" type="text" class="form-control"
					id="participantes" placeholder="Participantes" />
			</div>
			<div class="form-group col-sm">
				<mat-form-field appearance="fill">
					<mat-label>Fecha</mat-label>
					<input matInput [matDatepicker]="picker" name="fecha" [(ngModel)]="fecha">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="form-group col-md-12">
				<label for="drivers">Quien registra</label>
				<mat-select [(ngModel)]="actividad.quienRegistraKey" name="quienRegistraKey"
					id="quienRegistraKey" class="form-control" [multiple]="true">
					<mat-option *ngFor="let c of usuariesEnumn.list" [value]="c.id">{{ c.descripcion }}</mat-option>
				</mat-select>
			</div>
			<div class="form-group col-sm">
				<label for="ubicacion">Ubicacion</label>
				<input [(ngModel)]="actividad.ubicacion" name="ubicacion" type="text"
					class="form-control" id="ubicacion" placeholder="Ubicacion" />
			</div>
			<div class="form-group col-md-12">
				<mat-form-field>
					<textarea matInput style="height: 150px;" name="descripcion" [(ngModel)]="actividad.descripcion"
						placeholder="Descripcion" resizeToFitContent cdkAutosizeMinRows="15" cdkAutosizeMaxRows="15">
					</textarea>
				</mat-form-field>
			</div>
			<div class="action-buttons pull-right  mt-2 mb-2">
				<button type="submit" class="btn btn-primary mr-2">Guardar</button>
				<button type="button" class="btn btn-warning mr-2" (click)="cerrarDialog()">
					Cancelar
				</button>
			</div>
		</form>
	</div>
</div>