


  // /* Responsive Styles */
  // @media screen and (max-width: 767px) {

  //   .card-container > *:not(.circle-link) ,
  //   .terminal {
  //     width: 100%;
  //   }

  //   .card:not(.highlight-card) {
  //     height: 16px;
  //     margin: 8px 0;
  //   }

  //   .card.highlight-card span {
  //     margin-left: 72px;
  //   }

  //   svg#rocket-smoke {
  //     right: 120px;
  //     transform: rotate(-5deg);
  //   }
  // }

  @media screen and (min-width: 576px) {
    .example-container {
      height: 100%;
      width: 100%;
      min-width: 100% !important;
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
  }

  .example-container {
    height: 100%;
    width: 100% !important;
    min-width: 100% !important;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .example-sidenav-content {
    display: flex;
    height: 100%;
    width: 100% !important;
    min-width: 100% !important;
    align-items: center;
    justify-content: center;
  }
  .example-sidenav {
     user-select: none;
  }
  .full-width {
    width: 100%;
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }

  mat-sidenav-content{
    padding: 15px;
  }